{% extends "layout.html" %}
 
{% block content %}

<div class="wrapper">

  <form action="{{ url_for('admin.user_admin') }}" method="POST" class="form-create" >

    <h2>Add User</h2>


    {% for message in form.name.errors %}
  <div class="alert alert-danger">Oh Snap! {{ message }}</div>
{% endfor %}
     {% if message %}
<div class="alert alert-success" id="message-fade"><strong>FYI</strong> {{ message }}</div>
{% endif %}

    {{ form.hidden_tag() }}
    <div class="form-group">
    {{ form.name.label }}
    {{ form.name(class_="form-control") }}
    </div>
    {{ form.submit(class_="btn btn-primary") }}

      <h2>Users</h2>
<div class="white-bk">
{{ table }}
</div>
  </form>




</div>

 {% endblock %}