{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h2><span class="glyphicon glyphicon-user"></span> Welcome to SDGS Performance Management!</h2>
    <p>This web application allows you to view staff performance information, used mainly when reassessing competance</p>
    <!--<p><a href="" class="btn btn-default btn-lg">-->
        <!--<span class="glyphicon glyphicon-pencil"></span> Create Your 1st Panel-->
    <!--</a></p>-->
    Need to register? email your windows login name to <a
        href="mailto:matthew.parker@sch.nhs.uk?Subject=Performance%20Management%20Registration" target="_top">bioinformatics</a>
</div>


{% endblock %}