<!DOCTYPE html>
<html>
<head>
    <title>Staff Performance</title>
    <link rel="shortcut icon" href="/favicon.ico}" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/static/css/panel_pal.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

    <script type="text/javascript">// <![CDATA[
        function loading(){
            $("#loading").show();
            $("#content").hide();
        }
// ]]></script>

</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button><!---->
            <a class="navbar-brand" href="{{ url_for('index') }}"><span class="glyphicon glyphicon-user"></span>
                SDGS Performance Management</a>
        </div>


        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
            {% if admin == True %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Admin <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/user">User Admin</a></li>
                        <!--<li role="separator" class="divider"></li>-->
                        <!--<li><a href="/virtualpanels/create">Create a Virtual Panel</a></li>-->
                        <!--<li role="separator" class="divider"></li>-->
                        <!--<li><a href="#">Export Virtual Panel</a></li>-->
                    </ul>
                </li>
                {% endif %}
                </ul>

            <form class="navbar-form navbar-right" role="search">
                {% if logged_in == True %}
                {% if admin == True %}
                <a href="{{ url_for('logout')}}" class="btn btn-success" role="button">Logout <strong>{{ userid
                    }} </strong> </a>
                {% else %}
                <a href="{{ url_for('logout')}}" class="btn btn-success" role="button">Logout <strong>{{ userid
                    }}</strong></a>
                {% endif %}
                {% else %}
                <a href="{{ url_for('login')}}" class="btn btn-primary" role="button">Login</a>
                {% endif %}
            </form>
            {% if logged_in == True %}
             <form action="{{  url_for('summary.search') }}" method="post" class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" name="staff" class="form-control" placeholder="Staff Name">
                </div>
                <button type="submit" class="btn btn-default" onclick="loading()">Search</button>
            </form>
            {% endif %}
        </div><!--/.nav-collapse -->
    </div>
</nav>

{% block popup %}
{% endblock %}

<div class="container theme-showcase" role="">
    <div class="container">
        <div id="loading">
            <center><img src="/static/images/ajax-loader.gif"></center>
            <center><p><strong>Loading Data.....</strong></p></center>
        </div>
        <div id="content">
        {% block content %}
        {% endblock %}
        </div>
    </div>
</div>


</body>
</html>